<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    CRYPTO
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Coin List</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">My Wallet</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <h1>CRYPTO COIN LIST</h1>

  <h2>coins count: 4</h2>

  <div class="row coin-list">
    <div class="col-4 coin-list-item">
      <div class="card">
        <img class="img-thumbnail rounded mx-auto d-block" src="https://www.cryptocompare.com//media/12318415/42.png"
          alt="">
        <div class="card-body mx-auto">
          <h5 class="card-title">42 Coin (42) <span class="badge badge-secondary">42</span>
          </h5>
          <button class="btn btn-primary">add to wallet</button>
        </div>
      </div>
    </div>

    <div class="col-4 coin-list-item">
      <div class="card">
        <img class="img-thumbnail rounded mx-auto d-block" src="https://www.cryptocompare.com//media/27010595/300.png"
          alt="">
        <div class="card-body mx-auto">
          <h5 class="card-title">300 token (300) <span class="badge badge-secondary">300</span>
          </h5>
          <button class="btn btn-primary">add to wallet</button>
        </div>
      </div>
    </div>


    <div class="col-4 coin-list-item">
      <div class="card">
        <img class="img-thumbnail rounded mx-auto d-block" src="https://www.cryptocompare.com//media/351001/404.png"
          alt="">
        <div class="card-body mx-auto">
          <h5 class="card-title">404Coin (404) <span class="badge badge-secondary">404</span>
          </h5>
          <button class="btn btn-primary">add to wallet</button>
        </div>
      </div>
    </div>

    <div class="col-4 coin-list-item">
      <div class="card">
        <img class="img-thumbnail rounded mx-auto d-block" src="https://www.cryptocompare.com//media/20646/eth_logo.png"
          alt="">
        <div class="card-body mx-auto">
          <h5 class="card-title">Ethereum (ETH) <span class="badge badge-secondary">ETH</span>
          </h5>
          <button class="btn btn-primary">add to wallet</button>
        </div>
      </div>
    </div>

  </div>

</main>